

.footer {
    position: absolute;
    bottom: 0;
    width: 100%
}


.nav-list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav-list-item {
    height: 150px;
    width: 200px;
    border: 1px solid black;
    text-align: center; 
}

