@font-face {
    font-family: mPlusHeavy;
    src: url(./assets/Fonts/mplus-2p-heavy.ttf);
}

:root {
    --orange: rgb(245 102 0);
    --slider-arrow-background: rgba(0, 0, 0, .1);
    --slider-arrow-background2: rgba(0, 0, 0, .3);
    width: 100% !important;
}



body {
    margin: 0;
}

.footer {
    position: static;
    bottom: 0;
    width: 100%
}

.MuiSvgIcon-root {
    color: var(--orange)
}

/*Slick Slider */

.slider-container {
    background-color: #005fcc;
    height: 100%;
}

.slick-slider {
    display: grid;
    width: 500px;
    margin: auto;
    position: absolute;
    right: 10px;
}

.slick-track {
    overflow: hidden;
}

.slick-arrow {
    color: pink;
    background-color: var(--slider-arrow-background);
    height: 60%;
    position: absolute;
}

.slick-arrow:hover, .slick-arrow:focus {
    color: pink;
    background-color: var(--slider-arrow-background2);
}

.slick-image {
    height: 100%
}

.slick-prev {
    left: 1px;
    z-index: 1;
    top: 45%;
}

.slick-next {
    right: 1px;
    z-index: 1;
    top: 45%;
}

.slick-dots {
    position: absolute;
    bottom: 1%;
}

.slick-active button::before {
    color: blue;
}

.slick-dots li button::before {
    color: white !important;
}

/* Header and Navigation */

.MuiToolbar-root {
    background-color: white;
    color: var(--orange)
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav-list-item {
    height: 150px;
    width: 200px;
    text-align: center;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.language-selector {
    display: flex;
}

.MuiSelect-select {
    font-family: mPlusHeavy;
    color: var(--orange);
    font-size: 1.4rem;
}

/* Sub Menu Items */

.sub-menu-container {
    background-color: #005fcc;
    height: 18rem;
    font-family: mPlusHeavy;
}

.container {
    width: 60%;
    margin: 0 auto 0 auto;
    
}

.sub-menu-header {
    color: white;
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5%;
}

.sub-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    padding-left: 0;
}

.sub-list-item {
    display: flex;
    align-items: center;
    height: 7rem;
    width: 17rem;
    text-align: center;
    background-color: white;
    margin-right: 5%;
    margin-left: 0;
}

.MuiAccordion-root {
    margin-bottom: 10px;
}

/* Job Seeker Page Styles  */

.benefits-header {
    color: var(--orange);
}



/* Footer */

footer {
    height: 30rem;
    border-top: 4px solid var(--orange)
}

.footer-container1 {
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
    width: 80%;
    text-align: center;
}

.footer-list {
    list-style-type: none;
    text-align: left;
}

.footer-item {
    width: 10%
}